.contact_block {
  display: flex;
  flex-direction: column;

  .block {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    .news_header {
      i {
        margin-right: 10px;
      }
      &.address {
        display: flex;
        flex-direction: row;
        div {
          margin-top: -10px;
          p {
            margin: 0;
          }
        }
      }
    }
    .content {
      width: 100% !important;
    }

    #map {
      height: 350px;
      width: 100%;
      margin-right: 15px;
    }

    .icon {
      color: _palette(accent);
    }
  }
}

@media screen and (max-width: 768px) {
  #banner.contact_block {
    flex-direction: column;
  }
}
