#info_section {
  .main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__block {
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        border: none;
        i {
          font-size: 8em;
        }
        &:hover p, &:hover i {
          color: _palette(hover-link);
        }
      }
    }
  }
}

#info_single_section {
  .main-info__block {
    margin-bottom: 2rem;
    .file-block, .image_block {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      .file {
        a {
          border: none;
          p {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
      .file, .image {
        padding: 15px;
      }
    }
  }
}