#news_section {
  .posts {
      margin-bottom: 0 !important;
      article{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 6em;

        .other_block {
          margin-bottom: 1.5em;
        }

        &:before, &:after {
          display: none;
        }

        ul.actions {
          margin-top: auto;
        }

        a {
          width: 100%;
          height: auto;
        }
    }
  }
  .more_btn {
    text-align: center;
  }
  /* Arrow & Hover Animation */
  #more-arrows {
    width: 75px;
    height: 65px;
    &:hover {
      cursor: pointer;
      polygon {
        fill: _palette(accent);
        transition: all .2s ease-out;
        &.arrow-bottom {
          transform: translateY(-18px);
        }
        &.arrow-top {
          transform: translateY(18px);
        }
      }
    }
  }

  polygon {
    fill: _palette(accent);
    transition: all .2s ease-out;
    &.arrow-middle {
      opacity: 0.75;
    }
    &.arrow-top {
      opacity: 0.5
    }
  }
}
