#single_teacher {
  display: flex;
  flex-direction: column;

  .main_block {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;

    @media screen and (max-width: 640px) {
      flex-direction: column;
      align-items: center;
    }

    .main_info_block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 2em;

      @media screen and (max-width: 640px) {
        width: 100%;
        margin-top: 10px;
      }

      @media screen and (max-width: 400px) {
        width: auto;
        margin-left: 0;
      }

      .header_block {
        color: _palette(accent);
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0.5em;
        &:first-of-type {
          margin-bottom: 1em;
        }
      }

      .tabs_block {
        border: none;

        li > a {
          border-radius: 0.375em;
          padding-top: 13.5px;
        }

        @media screen and (max-width: 640px) {
          float: none;
        }

        @media screen and (max-width: 400px) {
          display: flex;
          flex-direction: column;

          li {
            padding: 0;
          }
        }
      }
    }
  }


}
